<div class="page-header">
    <h3>
        <a ng-show="postsCtrl.post.link" href="{{ postsCtrl.post.link }}">
            {{ postsCtrl.post.title }}
        </a>
        <span ng-hide="postsCtrl.post.link">
            {{ postsCtrl.post.title }}
        </span>
    </h3>
</div>

<div class="row">
    <div ng-repeat="comment in postsCtrl.post.comments | orderBy:'-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
        {{comment.upvotes}} - by {{comment.author}}
        <span>{{comment.body}}</span>
    </div>
</div>

<div class="row">
    <h3>Add a new comment:</h3>
    <form ng-submit="postsCtrl.addComment()">
        <div class="form-group">
            <textarea rows="3" class="form-control" placeholder="Input your comment" ng-model="postsCtrl.newComment.body">
            </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>